body {
    background-color: #deffeb;
    font-family: Calibri;
}

.navbar {
    background-color: #cbffba;
    color: #fc030b;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    background-color: #4fb32e !important;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 0px #deffeb;
}

.btn-default {
    background-color: #d9f7d2;
}

.amount-label {
    font-size: 18pt;
    text-decoration: underline;
}


.amount {
    font-size: 20pt;
    background-color: #cbffba;
    border: 1px ridge black;
}

.ui-datepicker .ui-datepicker-title select {
    background: #eaffe8;
    opacity: 1;
    border: 1px solid #000000;
    color: black;
}

.jumbotron{
    padding: 0px;
    margin: 20px;
    background-color: #ffffff;
    height: 180px;
    text-align: center;
    font-size: 20pt;
    border: 2px solid black;
}

h1.jumbotron{
    font-weight: bold;
}

.month-header {
    font-size: 48pt;
    background-color: #cbffba;
    border: 1px solid black;
}

.btn-budget-view{
    font-size: 24pt;
    border: 1px ridge black;
}

.budget-row{

    padding: 30px 0 0 0;
}

.custom-hr{
    border: 2px solid black;
    width: 80%;
}


