body {
    background-color: #deffeb;
    font-family: Calibri;
}

.navbar {
    background-color: #cbffba;
    color: #fc030b;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    background-color: #4fb32e !important;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 0px #deffeb;
}

.btn-default {
    background-color: #d9f7d2;
}

.disposableRemaining {
    font-size: 24pt;
    background-color: #cbffba;
}


.greenBack {
    position: relative;
    background-color: #4fb32e;
    width: 160px;
    height: 70px;
    border-radius: 70px / 35px;
    top: -12px;
    left: -165px;
    opacity: 0.3;
}

.ui-datepicker .ui-datepicker-title select {
    background: #eaffe8;
    opacity: 1;
    border: 1px solid #000000;
    color: black;
}



