@{
    ViewBag.Title = "monTHLey";
}

<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <h1>monTHLey</h1>
            <p class="lead">...sailing the high seas of personal budgeting.</p>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>

<div class="row">
    <div class="col-md-2">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink("About", "About", null, new { @class = "btn btn-default home-button" })</p>
    </div>
    <div class="col-md-2">
        <p>@Html.ActionLink("Contact Us", "Contact", null, new { @class = "btn btn-default home-button" })</p>
    </div>
    <div class="col-md-2">
        @if (User.Identity.IsAuthenticated)
        {
            <p>@Html.ActionLink("Setup Wizard", "Welcome", "Account", null, new { @class = "btn btn-default home-button" })</p>
        }
    </div>
    <div class="col-md-6"></div>
</div>
