@{
    ViewBag.Title = "More Info";
}
<h2>More Info</h2>


    <p>Developed by Collin Marone, May 2021<br />
    <strong>Email:</strong>   <a href="mailto:cmmarone@gmail.com">cmmarone@gmail.com</a></p>
<p>Code base: <a href="https://github.com/cmmarone/Monthley" target="_blank">monTHLey GitHub Repo</a></p>
