
@{
    ViewBag.Title = "Setup Complete";
}

<h2>Setup Complete</h2>

<p>Well done! You're ready to use monTHLey to track your monthly budget.</p>
<p>Each time you spend or receive money, enter a Transaction in the app, and monTHLey will update your budget.</p>
<br />

<p>@Html.ActionLink("Ok", "CurrentBudget", "Month")</p>