
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome to monTHLey!</h2>

To get started, let's get some information about your income and expenses.
<br />
<br />
<p>@Html.ActionLink("Let's Start!", "SetupIncome")</p>
<p>@Html.ActionLink("I want to enter my incomes and expenses later", "Index", "Home")</p>

